doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel="stylesheet", href="./node_modules/croppie/croppie.css")
    link(rel="stylesheet", href="./style.css")
  body
  
    .upload-demo-wrap
      #upload-demo
    input#file_name(type="text" style="width: 250px")
    .actions
      a.btn.file-btn
        span Upload
        input#upload(type='file' value='Choose a file' accept='image/*')
      button.upload-result Result
    .actions
      p Width 
        input#width(value="500")
      p Height
        input#height(value="600")
      p Type
        input#type(value="square")
      button#load Setup
    
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src="./node_modules/sweetalert/dist/sweetalert.min.js")
  script(src="./node_modules/croppie/croppie.js")
  
  script(src="index.js")